.home-wrap
  font-size 14px
  width 100%
  height 100%
  background-color #041832
  color #fff
  overflow hidden
  .top
    width 100%
    height 105px
    font-size 14px
    background-color rgba(0,0,0,0.4)
    overflow hidden
  .main
    padding 0 0 15px 55px
  .content
    width 1365px
    height auto
    margin 15px 15px 0 0
    .file-room-info
      width 727px
      margin-right 15px
      .file-room-general
        width 727px
        height 274px
        background-color rgba(0,0,0,0.35)
        margin-bottom 15px

      .status
        width 727px
        height 278px
        background-color rgba(0,0,0,0.3)

    .menus
      width 621px
      height 568px
      background-color rgba(0,0,0,0.2)

    .file-data
      width 100%
      height 355px
      margin-top 15px
      overflow hidden
      .room-data
        width 421px
        height 100%
        background-color rgba(0,0,0,0.4)
        margin-right 15px
      .danger-data
        width 929px
        height 100%
        background-color rgba(0,0,0,0.5)

  .right-side
    width 425px
    height 100%
    margin-top 15px

    .weather
      width 100%
      height 276px
      //background-color #aeaeae
    .warns
      width 100%
      height 276px
      margin 15px 0
    .tasks
      width 100%
      height 355px
      //background-color #bbb